
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    background-color: #7a86cb;
}

h1 {
    color: #6849e3;
    font-family: 'Merriweather';
    font-size: 50px;
    position: absolute;
}

h1:hover {
    color:white
}

.text-wrapper {
    position: relative;
    top: 300px;
    right: -500px;
}

.text-wrapper:hover::before {
    content: '';
    display: block;
    background-color: #6849e3;
    height: 2px;
    width: 10em;
    transition: transform ease-in-out 250ms;
    transform-origin: right;

}

.text-wrapper:hover::after {
    content: '';
    display: block;
    background-color: #6849e3;
    height: 2px;
    width: 10em;
    transition: transform ease-in-out 250ms;
    transform-origin: left;
    top: .75em;
}




