@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

body {
    background-color: #7a86cb;
}

div {
    top: 300px;
    right: -500px;
    position: relative;
}

div:first-child {
    /* position: absolute; */
    /* right: 10px; */
    color: #E6E7F2;
    font-family: barlow;
}

#input {
    display: inline;
    background-color: #49517B;
    border: 2px solid black;
    border-radius: 3px;
    height: 30px;
}

#input:focus {
    background-color:  #7a86cb;
    border: 2px solid #0027FF;
}

div:first-child:focus {
    color: #0027FF;
}

#input:active{
    color: #383E5E;
}

div:first-child:active {
    color: #7a86cb;
}